@page "/"
@using DarkestDungeonBuilder.Components
@using DarkestDungeonBuilder.Models
@using DarkestDungeonBuilder.Services
@inject HeroDatabase HeroDb
@inject IDialogService DialogService
@inject DungeonLocationDatabase LocationDb

<PageTitle>Darkest Dungeon Builder</PageTitle>

<MudText Typo="Typo.h3">Darkest Dungeon Builder</MudText>



@code {


    private List<Hero> _roster = null!;
    private List<DungeonLocation> _locations = null!;
    private Hero? _heroToAssign;
    private DungeonLocation? _selectedLocation = null;

    protected override void OnInitialized()
    {
        _roster = HeroDb.GetInitialRoster();
        _locations = LocationDb.GetInitialDungeonLocations();

    }

    private readonly Team _currentTeam = new Team();

    private async Task AddHero(Hero clickedHero, int slotKey)
    {
        await AssignHeroToSlotAsync(clickedHero, slotKey);
    
        StateHasChanged();
    }

    private void SetLocation(DungeonLocation loc)
    {
        if (loc == null) return;
        if (_selectedLocation != null)
        {
            // todo modal window na zeptani se zda chce uzivatel zmenit lokaci
        }
        else
        {
            _selectedLocation = loc;
        }
    }

    private void RemoveHero(int slotKey)
    {
        _currentTeam.Slots[slotKey] = null;
    }
    
    private async Task AssignHeroToSlotAsync(Hero heroToAssign, int targetSlotKey)
    {
        if (heroToAssign == null) return;
        
        // check if the slot is empty
        if (_currentTeam.Slots[targetSlotKey] == null)
        {
            _currentTeam.Slots[targetSlotKey] = heroToAssign.Clone();
        }
        else
        {
            // determine adjacent slots
            int leftSlot = targetSlotKey - 1;
            int rightSlot = targetSlotKey + 1;
            
            // check if left slot is empty or if it exists
            if (leftSlot >= 1 && _currentTeam.Slots[leftSlot] == null)
            {
                _currentTeam.Slots[leftSlot] = _currentTeam.Slots[targetSlotKey];
                _currentTeam.Slots[targetSlotKey] = heroToAssign.Clone();
            }
            // do the same for right
            else if (rightSlot <= 4 && _currentTeam.Slots[rightSlot] == null)
            {
                _currentTeam.Slots[rightSlot] = _currentTeam.Slots[targetSlotKey];
                _currentTeam.Slots[targetSlotKey] = heroToAssign.Clone();
            }
            // full adjacent slots, pop a modal to remove target slot hero
            else
            {
                var result = await DialogService.ShowMessageBoxAsync(
                    "Slot is full.",
                    "The slot and all adjacent slots are full. Do you want to replace the hero with a new one?",
                    yesText: "Replace", cancelText: "Cancel");

                if (result == true)
                {
                    _currentTeam.Slots[targetSlotKey] = heroToAssign.Clone();
                }
            }
        }
    }

    private async Task HandleDrop(int slotKey)
    {
        if (_heroToAssign == null) return;
    
        await AssignHeroToSlotAsync(_heroToAssign, slotKey);
    
        _heroToAssign = null;
        StateHasChanged();
    }

    private Task OpenDialogAsync(Hero hero)
    {
        var parameters = new DialogParameters<HeroDetailDialog> { { x => x.Hero, hero } };
        
        return DialogService.ShowAsync<HeroDetailDialog>("Simple Dialog", parameters);
    }
    

    

}
@if (_selectedLocation == null)
{
    <MudContainer Class="d-flex flex-column align-center justify-center" Style="height: 100vh;">
        <MudText Typo="Typo.h3" Align="Align.Center" Class="mb-8">Choose Your Destination</MudText>
        
        <MudGrid Justify="Justify.Center">
            @foreach (var loc in _locations)
            {
                <MudItem xs="3">
                    <MudPaper Class="pa-4" Style="min-height: 150px;" @onclick="@(() => SetLocation(loc))">
                        <MudText Typo="Typo.h6">@loc.Name</MudText>
                        <MudText Typo="Typo.caption">@loc.Strengths</MudText>
                        <MudText Typo="Typo.caption">@loc.Weaknesses</MudText>
                        <div class="align-center justify-center justify-content-center align-content-center d-flex">
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="@(() => SetLocation(loc))" >Zvolit</MudButton>
                        </div>
                    </MudPaper>
                </MudItem>
            }
        </MudGrid>
    </MudContainer>
}
else
{
    <MudGrid>
    <!-- left panel: list of heroes -->
    <MudItem xs="3">
        <MudText Typo="Typo.h5">Current Location: @_selectedLocation?.Name</MudText>
        <MudPaper Class="pa-4" Style="height: 100%">
            <MudText Typo="Typo.h6">Hero Roster</MudText>
            <MudDataGrid Items="@_roster" Hover="true" Dense="true">
                <Columns>
                    <TemplateColumn Title="Available Heroes">
                        <CellTemplate>

                            <div draggable="true"
                                 @ondragstart="@(() => _heroToAssign = context.Item)"
                                 style="cursor: grab;"
                                 class="d-flex align-center justify-space-between w-100 pa-2">

                                <div>
                                    <MudText Typo="Typo.body1"><strong>@context.Item.Name</strong></MudText>
                                    <MudText Typo="Typo.caption">@context.Item.Role</MudText>
                                </div>

                                <!--TODO do a non-modal window to ask a user, where he wishes to place the hero -->
                                <MudMenu Icon="@Icons.Material.Filled.Add" Color="Color.Primary" TransformOrigin="Origin.CenterLeft" AnchorOrigin="Origin.BottomRight" Dense="true">
                                    <MudMenuItem @onclick="@(() => AddHero(context.Item, 1))">1</MudMenuItem>
                                    <MudMenuItem @onclick="@(() => AddHero(context.Item, 2))">2</MudMenuItem>
                                    <MudMenuItem @onclick="@(() => AddHero(context.Item, 3))">3</MudMenuItem>
                                    <MudMenuItem @onclick="@(() => AddHero(context.Item, 4))">4</MudMenuItem>
                                </MudMenu>


                            </div>

                        </CellTemplate>
                    </TemplateColumn>
                </Columns>
            </MudDataGrid>
        </MudPaper>
    </MudItem>
    
    <!-- center panel, team composition -->
    <MudItem xs="6">
        <MudGrid>
            @foreach (var hero in _currentTeam.Slots.Reverse())
            {
                <MudItem xs="3">
                    <MudPaper Class="pa-4" Style="min-height: 150px;" @ondragover:preventDefault="true" @ondrop="@(() => HandleDrop(hero.Key))">
                        <MudText Typo="Typo.h6">@hero.Key</MudText>
                        @if (hero.Value == null)
                        {
                            <MudText Typo="Typo.h6">Empty</MudText>
                        }
                        else
                        {
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="@(() => OpenDialogAsync(hero.Value))">@hero.Value.Name</MudButton>
                            <MudButton Variant="Variant.Filled" Color="Color.Error" @onclick="@(() => RemoveHero(hero.Key))">DELETE</MudButton>
                        }
                    </MudPaper>
                </MudItem>
            }
        </MudGrid>
    </MudItem>
    
    <!-- right panel: stats and warnings -->
    <MudItem xs="3">
        <MudPaper Class="pa-4">Here will be radar graph and warnings</MudPaper>
    </MudItem>
</MudGrid>
}
