@page "/"
@using DarkestDungeonBuilder.Components

<PageTitle>Darkest Dungeon Builder</PageTitle>
@if (_locations == null || _roster == null || _trinkets == null)
{
    <MudContainer Class="d-flex justify-center align-center dd-fullscreen">
        <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
    </MudContainer>
}
else
{
    @if (_selectedLocation == null)
    {
        <InputFile id="importInput" OnChange="ImportTeamAsync" accept=".json" hidden />
        <div class="dd-import-wrapper">
            <MudButton Variant="Variant.Filled" Size="Size.Small" Class="dd-btn-primary dd-inline-action-button">
                Import Team
            </MudButton>

            <InputFile OnChange="ImportTeamAsync"
                       accept=".json"
                       class="dd-file-overlay-input" />
        </div>
        <LocationSelector
            Locations="_locations"
            OnLocationSelected="SetLocation" />
    }
    else
    {
        <MudGrid Class="dd-builder-grid" Spacing="0">
            <!-- left panel: list of heroes -->
            <RosterPanel
                SelectedLocation="@_selectedLocation"
                Roster="@_roster"
                OnChangeLocation="ChangeLocation"
                OnResetBuilder="ResetBuilderAsync"
                OnExportTeam="ExportTeamAsync"
                OnHeroDragStart="HandleSlotDragStartFromPanel"
                OnAddHero="HandleAddHeroFromPanel"
                OnDropToRoster="HandleDropToRoster"/>
            <!-- center panel, team composition -->
            <MudItem xs="12" md="6" Class="dd-center-column">
                    <MudGrid Class="dd-team-grid" Spacing="0">
                        @foreach (var slot in _currentTeam.Slots.OrderByDescending(x => x.Key))
                        {
                            <MudItem xs="6" sm="3">
                                <TeamSlot
                                    @key="slot.Key"
                                    Hero="slot.Value"
                                    AvailableTrinkets="@_trinkets"
                                    SlotKey="slot.Key"
                                    OnDragStart="HandleSlotDragStart"
                                    OnDrop="HandleDrop"
                                    OnRemove="RemoveHero"
                                    OnEdit="OpenDialogAsync"
                                    OnLoadoutChanged="SaveTeam"
                                />
                            </MudItem>
                        }
                    </MudGrid>
            </MudItem>
            <!-- right panel: stats and warnings -->
            <AdvisorPanel Analysis="@_advisorAnalysis" CurrentTeam="@_currentTeam" CurrentLocation="@_selectedLocation" />
        </MudGrid>
    }
}
