@page "/"
@using DarkestDungeonBuilder.Components
@using DarkestDungeonBuilder.Models
@using DarkestDungeonBuilder.Services
@inject HeroDatabase HeroDb
@inject IDialogService DialogService
@inject DungeonLocationDatabase LocationDb
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<PageTitle>Darkest Dungeon Builder</PageTitle>

<MudText Typo="Typo.h3">Darkest Dungeon Builder</MudText>



@code {


    private List<Hero> _roster = null!;
    private List<DungeonLocation> _locations = null!;
    private Hero? _heroToAssign;
    private DungeonLocation? _selectedLocation;
    protected override async Task OnInitializedAsync()
    {
        _roster = HeroDb.GetInitialRoster();
        _locations = LocationDb.GetInitialDungeonLocations();
        
        var savedLocationName = await LocalStorage.GetItemAsync<string>("savedLocation");
        if (!string.IsNullOrEmpty(savedLocationName))
        {
            _selectedLocation = _locations.FirstOrDefault(l => l.Name == savedLocationName);
        }
    }
    

    private readonly Team _currentTeam = new Team();

    private async Task AddHero(Hero clickedHero, int slotKey)
    {
        await AssignHeroToSlotAsync(clickedHero, slotKey);
    
        StateHasChanged();
    }

    private async Task SetLocation(DungeonLocation? loc)
    {
        if (loc == null) return;
        if (_selectedLocation != null)
        {
            // todo modal window na zeptani se zda chce uzivatel zmenit lokaci
        }
        else
        {
            _selectedLocation = loc;
            await LocalStorage.SetItemAsync("savedLocation", _selectedLocation.Name);
        }

    }

    private void RemoveHero(int slotKey)
    {
        _currentTeam.Slots[slotKey] = null;
    }

    private void ChangeLocation()
    {
        _selectedLocation = null;
        StateHasChanged();
    }
    
    private async Task AssignHeroToSlotAsync(Hero? heroToAssign, int targetSlotKey)
    {
        if (heroToAssign == null) return;
        
        // check if the slot is empty
        if (_currentTeam.Slots[targetSlotKey] == null)
        {
            _currentTeam.Slots[targetSlotKey] = heroToAssign.Clone();
        }
        else
        {
            // determine adjacent slots
            var leftSlot = targetSlotKey - 1;
            var rightSlot = targetSlotKey + 1;
            
            // check if left slot is empty or if it exists
            if (leftSlot >= 1 && _currentTeam.Slots[leftSlot] == null)
            {
                _currentTeam.Slots[leftSlot] = _currentTeam.Slots[targetSlotKey];
                _currentTeam.Slots[targetSlotKey] = heroToAssign.Clone();
            }
            // do the same for right
            else if (rightSlot <= 4 && _currentTeam.Slots[rightSlot] == null)
            {
                _currentTeam.Slots[rightSlot] = _currentTeam.Slots[targetSlotKey];
                _currentTeam.Slots[targetSlotKey] = heroToAssign.Clone();
            }
            // full adjacent slots, pop a modal to remove target slot hero
            else
            {
                var result = await DialogService.ShowMessageBoxAsync(
                    "Slot is full.",
                    "The slot and all adjacent slots are full. Do you want to replace the hero with a new one?",
                    yesText: "Replace", cancelText: "Cancel");

                if (result == true)
                {
                    _currentTeam.Slots[targetSlotKey] = heroToAssign.Clone();
                }
            }
        }
    }

    private async Task HandleDrop(int slotKey)
    {
        if (_heroToAssign == null) return;
    
        await AssignHeroToSlotAsync(_heroToAssign, slotKey);
    
        _heroToAssign = null;
        StateHasChanged();
    }

    private Task OpenDialogAsync(Hero hero)
    {
        var parameters = new DialogParameters<HeroDetailDialog> { { x => x.Hero, hero } };
        
        return DialogService.ShowAsync<HeroDetailDialog>("Simple Dialog", parameters);
    }

    private void GetHeroesForLocation()
    {
        foreach (var location in _locations)
        {
            location.RecommendedHeroes = location.GetRecommendedHeroes(_roster, location);
        }
    }
}
@if (_selectedLocation == null)
{
    GetHeroesForLocation();
    <MudContainer Class="d-flex flex-column align-center justify-center" Style="height: 100vh;">
        <MudText Typo="Typo.h3" Align="Align.Center" Class="mb-8">Choose Your Destination</MudText>
        
        <MudGrid Justify="Justify.Center">
            @foreach (var loc in _locations)
            {
                <MudItem xs="3">
                    <MudPaper Class="pa-4" Style="min-height: 150px;">
                        <MudText Typo="Typo.h6" class="align-content-center">@loc.Name</MudText>
                        <MudText Typo="Typo.caption">@loc.Strengths</MudText>
                        <MudText Typo="Typo.caption">@loc.Weaknesses</MudText>
                        <div class="align-content-center justify-content-center align-center justify-center">
                            @if (loc.RecommendedHeroes != null)
                            {
                                <MudText Typo="Typo.h6">Recommended Heroes</MudText>
                                @foreach (var hero in loc.RecommendedHeroes)
                                {
                                    <MudItem xs="3">
                                        <MudAvatar>
                                            <div style="width: 100%; height: 100%">
                                                <MudTooltip Text=@hero.Name>
                                                    <MudImage Src=@hero.Portrait Elevation="25" Alt=@hero.Name style="width: 100%; object-fit: cover;"></MudImage>
                                                </MudTooltip>
                                            </div>
                                        </MudAvatar>
                                    </MudItem>

                                }
                            }
                        </div>
                        <div class="align-center justify-center justify-content-center align-content-center d-flex">
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="@(() => SetLocation(loc))" >Choose</MudButton>
                        </div>
                    </MudPaper>
                </MudItem>
            }
        </MudGrid>
    </MudContainer>
}
else
{
    <MudGrid>
    <!-- left panel: list of heroes -->
    <MudItem xs="3">
        <MudText Typo="Typo.h5" class="d-inline">Current Location: @_selectedLocation.Name</MudText>
        <MudButton Variant="Variant.Filled" Size="Size.Small"  Color="Color.Primary" OnClick="@(ChangeLocation)">Change</MudButton>
        <MudPaper Class="pa-4" Style="height: 100%">
            <MudDataGrid Items="@_roster" Hover="true" Dense="true">
                <Columns>
                    <TemplateColumn Title="Available Heroes">
                        <CellTemplate>

                            <div draggable="true"
                                 @ondragstart="@(() => _heroToAssign = context.Item)"
                                 style="cursor: grab;"
                                 class="d-flex align-center justify-space-between w-100 pa-2">

                                <div class="d-block">
                                    <MudAvatar>
                                        <MudImage Src=@context.Item.Portrait></MudImage>
                                    </MudAvatar>
                                    <div class="d-inline">
                                        <MudText Typo="Typo.body1" class="d-inline"><strong class="d-inline">@context.Item.Name</strong></MudText>
                                        @if (_selectedLocation.RecommendedHeroes.Contains(context.Item))
                                        {
                                            
                                            <MudTooltip Text="@($"Recommended hero for {_selectedLocation.Name}")">
                                                <MudIcon Icon="@Icons.Material.Filled.Star" Color="Color.Primary" Size="Size.Small"></MudIcon>
                                            </MudTooltip>
                                        }
                                    </div>
                                    <div class="d-block">
                                        <MudText Typo="Typo.caption">@context.Item.Role</MudText>
                                    </div>
                                </div>

                                <!--TODO do a non-modal window to ask a user, where he wishes to place the hero -->
                                <MudMenu Icon="@Icons.Material.Filled.Add" Color="Color.Primary" TransformOrigin="Origin.CenterLeft" AnchorOrigin="Origin.BottomRight" Dense="true">
                                    <MudMenuItem @onclick="@(() => AddHero(context.Item, 1))">1</MudMenuItem>
                                    <MudMenuItem @onclick="@(() => AddHero(context.Item, 2))">2</MudMenuItem>
                                    <MudMenuItem @onclick="@(() => AddHero(context.Item, 3))">3</MudMenuItem>
                                    <MudMenuItem @onclick="@(() => AddHero(context.Item, 4))">4</MudMenuItem>
                                </MudMenu>


                            </div>

                        </CellTemplate>
                    </TemplateColumn>
                </Columns>
            </MudDataGrid>
        </MudPaper>
    </MudItem>
    
    <!-- center panel, team composition -->
    <MudItem xs="6">
        <MudGrid>
            @foreach (var hero in _currentTeam.Slots.Reverse())
            {
                <MudItem xs="3">
                    @if (hero.Value == null)
                    {
                        <MudPaper Class="pa-4" Style="min-height: 150px;" @ondragover:preventDefault="true" @ondrop="@(() => HandleDrop(hero.Key))">
                            <MudText Typo="Typo.h6">@hero.Key</MudText>
                            <MudText Typo="Typo.h6">Empty</MudText>
                        </MudPaper>
                    }
                    else
                    {
                        <MudPaper Class="pa-4" Style="min-height: 150px;" @ondragover:preventDefault="true" @ondrop="@(() => HandleDrop(hero.Key))">
                            <div>
                                <MudText Typo="Typo.h6">@hero.Key</MudText>
                                <MudText Typo="Typo.h6">@hero.Value.Name</MudText>
                                <MudAvatar>
                                    <MudImage Src=@hero.Value.Portrait></MudImage>
                                </MudAvatar>
                            </div>
                            <MudTooltip Text="Delete">
                                <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Error" Size="Size.Medium" @onclick="@(() => RemoveHero(hero.Key))" />
                            </MudTooltip>
                            <MudTooltip Text="Edit">
                                <MudIconButton Icon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium" @onclick="@(() => OpenDialogAsync(hero.Value))"/>
                            </MudTooltip>
                        </MudPaper>
                    }

                </MudItem>
            }
        </MudGrid>
    </MudItem>
    
    <!-- right panel: stats and warnings -->
    <MudItem xs="3">
        <MudPaper Class="pa-4">Here will be radar graph and warnings</MudPaper>
    </MudItem>
</MudGrid>
}
