@page "/"
@using DarkestDungeonBuilder.Components


<PageTitle>Darkest Dungeon Builder</PageTitle>

<MudText Typo="Typo.h3">Darkest Dungeon Builder</MudText>





@if (_selectedLocation == null)
{
    <LocationSelector 
        Locations="_locations" 
        OnLocationSelected="SetLocation" />
}
else
{
    <MudGrid>
        <!-- left panel: list of heroes -->
        <MudItem xs="3">
            <MudText Typo="Typo.h5" class="d-inline">Current Location: @_selectedLocation.Name</MudText>
            <MudButton Variant="Variant.Filled" Size="Size.Small" Color="Color.Primary" OnClick="@(ChangeLocation)">
                Change
            </MudButton>
                <MudDataGrid Items="@_roster" Hover="true" Dense="true">
                    <Columns>
                        <div class="d-block">
                            <MudText Typo="Typo.caption">Hold to drag</MudText>
                        </div>
                        <TemplateColumn Title="Available Heroes">
                            <CellTemplate>
                                <div @ondragstart="@(() => { _heroToAssign = context.Item; _draggedSlotKey = null; })">
                                    <div draggable="true"
                                         data-drag-image="@context.Item.Sprite"
                                         ondragstart="setCustomDragImage(event, '@context.Item.Sprite')"
                                         style="cursor: grab;"
                                         class="d-flex align-center justify-space-between w-100 pa-2">

                                        @*drag and drop fix*@
                                        <img src="@context.Item.Sprite"
                                             class="drag-ghost-img"
                                             width="170"
                                             height="334"
                                             alt="sprite of @context.Item.Sprite"
                                             style="position: absolute; z-index: -100; opacity: 0.01; pointer-events: none;"/>
                                        <div class="d-block">
                                            <MudAvatar>
                                                <MudImage Src=@context.Item.Portrait></MudImage>
                                            </MudAvatar>
                                            <div class="d-inline">
                                                <MudText Typo="Typo.body1" class="d-inline">
                                                    <strong
                                                        class="d-inline">@context.Item.Name</strong></MudText>
                                                @if (_selectedLocation.RecommendedHeroes != null && _selectedLocation.RecommendedHeroes.Contains(context.Item))
                                                {
                                                    <MudTooltip Text="@($"Recommended hero for {_selectedLocation.Name}")">
                                                        <MudIcon Icon="@Icons.Material.Filled.Star" Color="Color.Primary"
                                                                 Size="Size.Small"></MudIcon>
                                                    </MudTooltip>
                                                }
                                            </div>
                                            <div class="d-block">
                                                <MudText Typo="Typo.caption">@context.Item.Role</MudText>
                                            </div>
                                        </div>

                                        <MudMenu Icon="@Icons.Material.Filled.Add" Color="Color.Primary"
                                                 TransformOrigin="Origin.CenterLeft" AnchorOrigin="Origin.BottomRight"
                                                 Dense="true">
                                            <MudMenuItem @onclick="@(() => AddHero(context.Item, 1))">1</MudMenuItem>
                                            <MudMenuItem @onclick="@(() => AddHero(context.Item, 2))">2</MudMenuItem>
                                            <MudMenuItem @onclick="@(() => AddHero(context.Item, 3))">3</MudMenuItem>
                                            <MudMenuItem @onclick="@(() => AddHero(context.Item, 4))">4</MudMenuItem>
                                        </MudMenu>
                                    </div>
                                </div>

                            </CellTemplate>
                        </TemplateColumn>
                    </Columns>
                </MudDataGrid>
        </MudItem>

        <!-- center panel, team composition -->
        <MudItem xs="6">
            <MudGrid>
                @foreach (var slot in _currentTeam.Slots.Reverse())
                {
                    <MudItem xs="3">
                        <TeamSlot
                            @key="slot.Key"
                            Hero="slot.Value" 
                            AvailableTrinkets="@_trinkets"
                            SlotKey="slot.Key" 
                            OnDragStart="HandleSlotDragStart"
                            OnDrop="HandleDrop" 
                            OnRemove="RemoveHero" 
                            OnEdit="OpenDialogAsync"
                            OnLoadoutChanged="SaveTeam"
                            />
                    </MudItem>
                }
            </MudGrid>
        </MudItem>

        <!-- right panel: stats and warnings -->
        <MudItem xs="3">
            <MudPaper Class="pa-4">Here will be radar graph and warnings</MudPaper>
        </MudItem>
        
        
    </MudGrid>
}
